.homepage{
    width: auto;
    height: 45px;
    background-color: black;
    display: flex;
    text-align: center;
   dt{
       color:white;
       font-size: 13px;
   }
    
   .icon{
       color: white;
       margin-inline-start: auto;
       padding-right: 50px;
      ul{
          display: flex;
          dt{
              padding-right: 25px;
          }
      }
   }

   .num{
       padding-left: 50px;
       ul{
        padding: 0;   
        display: flex;
       }
       dt{
           flex-basis: auto;
           padding-left: 25px;
           
       }
       
   }

} 

@media only screen and (max-width: 300px) {
    .homepage {
         width:100%;    
  }
  }