.Cover{
    background-color: black;
    width: 1920px;
    height: 800px;
   .TextApp{
       width: 800px;
    margin-left: 10%;
    margin-bottom: 80px;
    padding-top: 200px;
   }
   .butt{
       margin-left: 10%;
    }
    div{    
        p{
          margin: 0;
        }
    }

    .text1{
        font-size: 60pt;
        color: #333333;
    }
    .text2{
        font-size: 60pt;
        color: #3CB878;
    }
    .text3{
        font-size: 14pt;
        color: #333333;
    }

}
