.ContactApp{
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    div{
        margin-bottom: 80px;
        
        p{
            font-size: 16pt;
            margin-left: 40px;
        }

        li{
            font-size: 14pt;
            margin-bottom: 10px;
            list-style-type: none;
            padding-top: 15px;
        }
        .mail{
            color: #3CB878;
        }
    }


}